## Innovation Lab Deployment Configuration
#   This configuration YML is used by the python *deploy* module in the */src/* directory.
#   The *deploy.deployer* script will parse this YML and pass the parameters specified into 
#   the appropriate **CloudFormation** template in the */templates/* directory. It will then
#   call the **AWS CloudFormation API** through the **boto3** python wrapper with the 
#   parameterized template. 

#   Each block in the YML represents a distinct stack. The *template* property determines
#   which **CloudFormation** template is retrieved from the */templates/* directory. The 
#   *parameters* property is an array of parameters corresponding to the parameters of the
#   **CloudFormation** template. 

## Syntax:
#   StackName:
#       template: <templateFile>
#       parameters:
#         - ParameterKey: <templateParameter> 
#           ParameterValue: value | !env <environmentVariable>
#         - ParameterKey: <templateParameter>
#           ParameterValue: value | !env <environmentVariable>
#         ...

## NOTES
# 1. The order of stacks *matters*! The stacks will be provisioned in the order they are listed.
#     If a stack requires resources from another stack, make sure the independent stack is deployed
#     before the dependent stack!

Innolab-RepoStack:
  template: repo.yml
  parameters: 
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: github
      ParameterValue: "false"

Innolab-DocStack:
  template: cloudfront.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: domainName
      ParameterValue: !env DOMAIN
    - ParameterKey: subdomainName
      ParameterValue: documentation
    - ParameterKey: certificateId
      ParameterValue: !env CERTIFICATE_ID
    - ParameterKey: hostedZoneId
      ParameterValue: !env HOSTED_ZONE_ID

Innolab-FrontendStack-Dev:
  template: cloudfront.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: domainName
      ParameterValue: !env DOMAIN
    - ParameterKey: subdomainName
      ParameterValue: laboratory
    - ParameterKey: certificateId
      ParameterValue: !env CERTIFICATE_ID
    - ParameterKey: hostedZoneId
      ParameterValue: !env HOSTED_ZONE_ID

Innolab-VPCStack-Dev:
  template: vpc.yml
  parameters:
    - ParameterKey: applicationName 
      ParameterValue: !env APPLICATION
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: dbKeyName
      ParameterValue: innolab_tunnel_key_Dev
    - ParameterKey: bastionHost
      ParameterValue: "true"
    - ParameterKey: domainName
      ParameterValue: !env DOMAIN
    - ParameterKey: hostedZoneId
      ParameterValue: !env HOSTED_ZONE_ID

Innolab-Postgres-RDSStack-Dev:
  template: rds.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: typeName
      ParameterValue: postgres
    - ParameterKey: vpcStack
      ParameterValue: Innolab-VPCStack-Dev
    - ParameterKey: iamStack
      ParameterValue: Innolab-IAMStack

Innolab-Oracle-RDSStack-Dev: 
  template: rds.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: typeName
      ParameterValue: oracle
    - ParameterKey: vpcStack
      ParameterValue: Innolab-VPCStack-Dev
    - ParameterKey: iamStack
      ParameterValue: Innolab-IAMStack

Innolab-AlationStack:
  template: applications/alation.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: alationKeyName
      ParameterValue: innolab_alation_key
    - ParameterKey: domainName
      ParameterValue: makpar-innovation.net
    - ParameterKey: hostedZoneId
      ParameterValue: !env HOSTED_ZONE_ID
    - ParameterKey: vpcStack
      ParameterValue: Innolab-VPCStack-Dev
      
Innolab-LambdaStack-Dev:
  template: lambda.yml
  parameters:
    - ParameterKey: iamStack
      ParameterValue: Innolab-IAMStack
    - ParameterKey: vpcStack
      ParameterValue: Innolab-VPCStack-Dev
    - ParameterKey: repoStack
      ParameterValue: Innolab-RepoStack
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION

Innolab-Doc-PipelineStack:
  template: pipelines/documentation.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: domainName
      ParameterValue: !env DOMAIN
    - ParameterKey: iamStack
      ParameterValue: Innolab-IAMStack
    - ParameterKey: repoStack
      ParameterValue: Innolab-RepoStack

Innolab-Frontend-PipelineStack-Dev:
  template: pipelines/documentation.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: domainName
      ParameterValue: !env DOMAIN
    - ParameterKey: iamStack
      ParameterValue: Innolab-IAMStack
    - ParameterKey: repoStack
      ParameterValue: Innolab-RepoStack
      
Innolab-Lambda-PipelineStack-Dev:
  template: pipelines/lambda.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: iamStack
      ParameterValue: Innolab-IAMStack
    - ParameterKey: repoStack
      ParameterValue: Innolab-RepoStack

Innolab-MigrationStack:
  template: applications/migration.yml
  parameters:
    - ParameterKey: applicationName
      ParameterValue: !env APPLICATION
    - ParameterKey: environmentName
      ParameterValue: !env ENVIRONMENT
    - ParameterKey: domainName
      ParameterValue: !env DOMAIN
    - ParameterKey: hostedZoneId
      ParameterValue: !env HOSTED_ZONE_ID
    - ParameterKey: clientKeyName
      ParameterValue: innolab_migration_client
    - ParameterKey: dbSourceUsername
      ParameterValue: !env ORACLE_RDS_USERNAME
    - ParameterKey: dbSourcePassword
      ParameterValue: !env ORACLE_RDS_PASSWORD
    - ParameterKey: dbSourceEngine
      ParameterValue: oracle
    - ParameterKey: dbTargetUsername
      ParameterValue: !env POSTGRES_RDS_USERNAME
    - ParameterKey: dbTargetPassword
      ParameterValue: !env POSTGRES_RDS_PASSWORD
    - ParameterKey: dbTargetEngine
      ParameterValue: postgres
    - ParameterKey: targetStack
      ParameterValue: Innolab-Postgres-RDSStack-Dev
    - ParameterKey: sourceStack
      ParameterValue: Innolab-Oracle-RDSStack-Dev
    - ParameterKey: vpcStack
      ParameterValue: Innolab-VPCStack-Dev
  
